<h2>{{formTitle}}</h2>

<form {{action 'submit' on='submit'}}>
    <div class="form-group">
        <label for="">Name</label>
        {{input class="form-control" value=employee.firstName}}
        {{display-errors errors=errors.firstName showErrors=showErrors}}

    </div>
    <div class="form-group">
        <label for="">Email</label>
        {{input class="form-control" value=employee.email}}
        {{display-errors errors=errors.email showErrors=showErrors}}
    </div>
    <button class="btn btn-primary" type="submit">{{buttonLabel}}</button>
</form>