
<div class="row">
    <div class="col-sm-6">
        <h1>{{boardroom.title}}</h1>
    </div>
    <div class="col-sm-6">
        <div class="pull-right top-buffer">
            {{#link-to "boardrooms.boardroom" boardroom class="btn btn-info"}}Cancel{{/link-to}}
        </div>
    </div>
</div>

<form action="">
    <div class="form-group">
        <label for="">1. Booked for</label>
        <select class="form-control" onchange={{action "updateValue" value="target.value"}}>
            {{#each employees as |employee|}}
                <option value="{{employee.id}}">{{employee.firstname}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="">2. I would like to book this meeting:</label>
        {{bs-datetimepicker date=appointment.bookedDate updateDate=(action (mut appointment.bookedDate))}}
    </div>

    <div class="form-group">
        <label for="">3. Specify what the time and end of the meeting (This will be what people see on the calendar)</label>
        {{bs-datetimepicker date=appointment.bookedDateFrom updateDate=(action (mut appointment.bookedDateFrom))}}
        <br>
        {{bs-datetimepicker date=appointment.bookedDateTo updateDate=(action (mut appointment.bookedDateTo))}}

    </div>

    <div class="form-group">
        <label for="">4. Enter the specifics for the meeting. (This will be what people see when they click on an event link.)</label>
        {{textarea class="form-control" value=appointment.specifics key-up="saveToLocal"}}
    </div>

    <div class="form-group">
        <label for="">5. Is this going to be a recuming event?</label>
        {{input type="checkbox" name="recuming" checked=appointment.recuming}}
    </div>

    <div class="form-group">
        <label for="">6. If it is recuming, specify weekly, bi-weekly, or monthly.</label>
        {{input type="checkbox" name="recumingType" checked=appointment.recumingType}}
    </div>
    <div class="form-group">
        <p>If weekly or bi-weekly, specify the number of weeks for it to keep recuming.
            If monthly, specify the number of months. (If you choose "be-weekly" and put in an odd number of weeks, the computer will round down.)</p>
        {{input type="text" class="form-control" value=appointment.recumingWeekOrMonthNumber }}*duration (max 4 weeks)
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>